:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  padding: 25px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: antiquewhite;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* css card */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 400px;
  margin: 25px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 14px 13px 26px 4px rgba(0, 0, 0, 0.64);
  background-color: rgb(251, 252, 244);
}

.img {
  width: 350px;
  height: 380px;
}
.titolo-card {
  font-size: 25px;
  color: rgba(109, 79, 5, 0.836);
}

.parag-card {
  width: 100%;
  font-size: 20px;
  color: rgb(17, 17, 17);
}

.link-card{
  font-size: 18px;
  color: rgba(109, 79, 5, 0.836);
}

.navbar{
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.parag-articolo{
  font-size: 20px;
  font-weight: bold;
}